:host {
  display: flex;
  height: 40px;
  align-items: center;
  background-color: var(--tui-base-08);
  justify-content: space-between;
  padding: 10px 25px;
}

.heading {
  font: var(--tui-font-heading-6);
  color: var(--tui-text-01-night);
}
