
  <div class="container get-task tui-space_top-10">
    <div class="heading">Привет, Коллега! Для начала работы нажми кнопку</div>

    <button
      tuiButton
      type="button"
      appearance="secondary"
      class="get-task-button"
      size="m"
      (click)="getTask()"
    >
      Получить задание
    </button>
  </div>

  <div class="container tui-space_bottom-4">
    <div class="tui-text_h5 tui-space_bottom-4">Вводная инструкция</div>
    <div class="tui-text_bold tui-space_bottom-2">Добро пожаловать в команду верификации!</div>
    <div class="tui-space_bottom-4">Наша задача — обеспечивать безопасность операций клиентов и поддерживать доверие к нашему банку. Ваша роль включает проверку личности клиентов и подтверждение их данных.</div>
    <div class="tui-text_bold tui-space_bottom-2">Вот основные шаги, которые вы будете выполнять:</div>
    <div>
      <div class="tui-space_bottom-2">1. Авторизация в системе. Войдите в систему CRM используя ваш логин и пароль.</div>
      <div class="tui-space_bottom-2">2. Получение задания на верификацию. Нажмите кнопку «Получить задание» для получения актуального списка клиентов, требующих верификации.</div>
      <div class="tui-space_bottom-2">3. Просмотр деталей клиента. Ознакомьтесь с предоставленной клиентом информацией, включая ФИО, дату рождения, паспортные данные, информацию о трудовой деятельности и историю кредитования.</div>
      <div class="tui-space_bottom-2">4. Проверка причины верификации. Убедитесь, что вы понимаете причину, по которой клиент подвергается проверке (например, новая заявка на кредит, подозрение на мошенничество).</div>
      <div class="tui-space_bottom-2">5. Связь с клиентом. Если необходимо, используйте предоставленные контактные данные для связи с клиентом. Используйте скрипт разговора для обеспечения стандартизации общения.</div>
      <div class="tui-space_bottom-2">6. Проверка документов. Просмотрите загруженные клиентом документы, такие как сканы паспорта или документы, подтверждающие место работы и доход.</div>
      <div class="tui-space_bottom-2">7. Использование внутренних инструментов для проверки. Воспользуйтесь нашими системами для скоринга и проверки данных клиентов на предмет соответствия и достоверности.</div>
      <div class="tui-space_bottom-2">8. Завершение проверки. После проверки всех данных вынесите решение по профилю клиента (верифицирован, отказ, необходимы дополнительные проверки) и перенаправьте документы на дальнейшее рассмотрение, если это необходимо.</div>
    </div>
  </div>
