<div class="container">
  <div class="main-info">
    <div class="heading tui-space_right-2">Смирнова Алина Васильевна</div>
    <div class="icon-text">
      <button
        tuiButton
        appearance="mono"
        icon="tuiIconCopy"
        size="s"
        (click)="copyContent('9K28KMX78M')"
      >
        9K28KMX78M
      </button>
    </div>
  </div>

  <div class="additional-info">
    <div class="tui-space_right-4">Ж, 37 лет</div>

    <tui-badge
      status="info"
      class="tui-space_right-4"
      value="Москва, 12:35"
    ></tui-badge>

    <div class="icon-text">
      <tui-svg src="tuiIconPhone" class="tui-space_right-2"></tui-svg>
      <div>+7 962 611 15 17</div>
    </div>

    <div class="icon-text">
      <tui-svg src="tuiIconAlertTriangle" class="red-icon tui-space_right-2"></tui-svg>
      <div>Проверь трудовую деятельность</div>
    </div>

    <div class="icon-text">
      <tui-svg src="tuiIconRefreshCw" class="tui-space_right-2"></tui-svg>
      <div>скор - 0.89</div>
    </div>
  </div>
</div>
