<div *ngFor="let application of applications" class="application">
  <div>ID заявки: {{ application.applicationId }}</div>
  <div>ФИО из заявки: {{ application.fullName }}</div>
  <div>Дата и время: {{ application.fullName }}</div>
  <div>Продукт: {{ application.fullName }}</div>
  <div>Cумма запрошенная: {{ application.fullName }}</div>
  <div>Желаемый срок: {{ application.fullName }}</div>
  <div>Должность: {{ application.fullName }}</div>
  <div>Доход: {{ application.fullName }}</div>
  <div>Наименование организации: {{ application.fullName }}</div>
  <div>Стаж: {{ application.fullName }}</div>
  <div>Мобильный телефон: {{ application.fullName }}</div>
  <div>Канал заявки: {{ application.fullName }}</div>
</div>
